.channelCard {
    border-radius: 6px;
    display: grid;
    grid-template-columns: 30% 70%;
    background-color: #455a64;
    position: relative;
    cursor: pointer;
    border: 1px solid #1c313a
}

.channelCard:hover {
    border: 1px solid white
}

.channelCard img {
    width: 100%;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.channelCard h2 {
    font-size: 14px;
    margin: 5px 5px;
}

.channelCard p {
    font-size: 10px;
    margin: 0 5px;
    width: 230px;
}

.heartIcon {    
    color: white;
    position: absolute;
    top: 5px;
    right: 10px;
    width: 16px;
}

@media (max-width: 576px) {
    .channelCard {
        grid-template-columns: 1fr;
    }

    .channelCard img {
        border-top-right-radius: 6px;
        border-bottom-left-radius: 0px;
    }

    .descContainer {
        margin: 10px 10px;
    }

    .channelCard p {
        width: 100%;
        font-size: 12px;
    }
}