.channelCard {
    width: 120px;
    border-radius: 6px;
    margin-bottom: 40px;
    box-shadow: 4px 4px 5px rgba(90, 90, 90, 0.219);
}

.channelCard img {
    width: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.channelCard p {
    font-size: 8px;
    margin: 6px;
}