.login {
    width: 100%;
}

h1 {
    text-align: center;
}

input {
    padding: 10px 10px;
    margin-top: 10px;
    width: 100%;
}

.passWrapper {
    position: relative;
    height: 40px;    
}
  
i {
    position: absolute;
    right: -4%;
    top: 48%;
}
i:hover {
    color: #00fcb6;
    cursor: pointer;
}

.buttonsContainer {
}

.btnLogin {
    text-decoration: none;
    display: inline;
    color: white;
    background-color: #455a64;
    border: none;
    border-radius: 8px;
    padding: 10px 0;
    width: 50%;
    margin-top: 20px;
    transition: .3s;
}

.btnLogin:hover {
    background-color: #607179;
}

.btnExtra {    
    display: inline;
    color: white;    
    background-color: transparent;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    padding: 10px 0;
    width: 50%;
    transition: .3s;
}

.btnExtra:hover {
    color: #607179;  
}
  