h1 {
    text-align: center;
}

input {
    padding: 10px 10px;
    margin-top: 10px;
    width: 220px;
    border-radius: 8px;
    border: 1px solid gray;
}

select {
    color: gray;
    padding: 10px 5px;
    margin-top: 20px;
    width: 262px;
    border-radius: 8px;
    border: 1px solid gray;
}

.passWrapper {
    position: relative;
    height: 40px;
}
  
i {
    position: absolute;
    right: 4%;
    top: 48%;
}
i:hover {
    color: #00fcb6;
    cursor: pointer;
}

.btnRegister {
    display: inline;
    color: white;
    background-color: green;
    border: none;
    border-radius: 8px;
    padding: 10px 0;
    width: 120px;
    margin: 10px 20px 0 0;
}